<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= helmet.title %></title>
        <script src="https://unpkg.com/static-navigator"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Flatland Church">
        <meta property="fb:app_id" content="1007632336053609">
        <meta name="twitter:site" content="@flatlandchurch">
        <meta property="place:location:latitude" content="41.3039152">
        <meta property="place:location:longitude" content="-96.1377482">
        <link rel="apple-touch-icon" href="https://firebasestorage.googleapis.com/v0/b/flatland-api.appspot.com/o/icons%2Ficon-96x96.png?alt=media&amp;token=0465654f-8340-4f63-b258-57d4c32400f8">
        <link rel="apple-touch-icon" sizes="152x152" href="https://firebasestorage.googleapis.com/v0/b/flatland-api.appspot.com/o/icons%2Ficon-152x152.png?alt=media&amp;token=f1dbc73a-9804-4617-8f5a-60bcb440d37b">
        <link rel="apple-touch-icon" sizes="180x180" href="https://firebasestorage.googleapis.com/v0/b/flatland-api.appspot.com/o/icons%2Ficon-167x167.png?alt=media&amp;token=81113e67-3e07-42ff-8f02-17f5e3aee3b6">
        <link rel="apple-touch-icon" sizes="167x167" href="https://firebasestorage.googleapis.com/v0/b/flatland-api.appspot.com/o/icons%2Ficon-180x180.png?alt=media&amp;token=62c6340a-ce77-40a1-bcd7-2a39afff82e3">
        <!-- TODO: Complete the CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' *.flatlandchurch.com *.planningcenteronline.com *.churchcenter.com 'unsafe-inline'" />
        <link rel="stylesheet" href="/style.css">
        <script src="https://js.churchcenter.com/modal/v1"></script>
        <style>
            * {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div class="header-content">
                    <a href="/">
                        <svg version="1.1" viewBox="0 0 279.083 51.333" xmlns="http://www.w3.org/2000/svg" id="logo-desktop">
                            <g id="logo-name">
                                <g enable-background="new">
                                    <path fill="#808080" d="M64.283,22.703h10.366v7.299H64.283V51.1h-8.03V0.001h21.242v7.3H64.283V22.703z" />
                                    <path fill="#808080" d="M81.365,0.001h8.03v43.798h13.212V51.1H81.365V0.001z" />
                                    <path fill="#808080" d="M132.099,51.1h-8.103l-1.387-9.271h-9.854l-1.387,9.271h-7.373l8.176-51.099h11.752L132.099,51.1z M113.776,34.895h7.738l-3.869-25.842L113.776,34.895z" />
                                    <path fill="#808080" d="M133.486,0.001h24.819v7.3h-8.395V51.1h-8.029V7.301h-8.395V0.001z" />
                                    <path fill="#808080" d="M161.809,0.001h8.029v43.798h13.213V51.1h-21.242V0.001z" />
                                    <path fill="#808080" d="M212.542,51.1h-8.103l-1.387-9.271h-9.855l-1.387,9.271h-7.373l8.176-51.099h11.753L212.542,51.1z M194.22,34.895h7.737l-3.869-25.842L194.22,34.895z" />
                                    <path fill="#808080" d="M223.42,14.09V51.1h-7.228V0.001h10.074l8.249,30.585V0.001h7.153V51.1h-8.249L223.42,14.09z" />
                                    <path fill="#808080" d="M247.436,0.001h12.701c8.03,0,11.973,4.453,11.973,12.629v25.841c0,8.176-3.942,12.629-11.973,12.629 h-12.701V0.001z M255.465,7.301v36.499h4.526c2.555,0,4.088-1.312,4.088-4.963V12.265c0-3.649-1.533-4.964-4.088-4.964H255.465z" />
                                </g>
                            </g>
                            <g id="logo-glyph">
                                <rect fill="#808080" width="51.499" height="16.333" />
                                <rect y="17.5" fill="#808080" width="51.499" height="16.333" />
                                <rect y="35" fill="#808080" width="16.332" height="16.332" />
                                <rect x="17.583" y="35" fill="#ACC35B" width="33.916" height="16.332" />
                            </g>
                        </svg>
                        <svg version="1.1" viewBox="0 0 51.499 51.333" xmlns="http://www.w3.org/2000/svg" id="logo-mobile">
                            <g id="logo-glyph">
                                <rect fill="#808080" width="51.499" height="16.333" />
                                <rect y="17.5" fill="#808080" width="51.499" height="16.333" />
                                <rect y="35" fill="#808080" width="16.332" height="16.332" />
                                <rect x="17.583" y="35" fill="#ACC35B" width="33.916" height="16.332" />
                            </g>
                        </svg>
                    </a>
                    <nav>
                        <a href="https://flatland.churchcenteronline.com/giving?open-in-church-center-modal=true">Give</a>
                        <a href="/today">Today</a>
                        <button>
                            <span class="hamburger"></span>
                            Menu
                        </button>
                    </nav>
                    <!-- Figure this out -->
                </div>
            </header>
            <div id="slot">
                <%- body %>
            </div>
            <footer>
                <div class="footer-content">
                    <!-- TODO: this -->
                    <div class="footer-contact">
                        <h2 class="light">Contact Us</h2>
                        <address class="footer-address">
                            <a href="tel:+14024929111">(402) 492-9111</a>
                            <a href="mailto:info@flatlandchurch.com?subject=Hello">hello@flatlandchurch.com</a>
                            <div class="footer-address-social">
                                <!-- TODO: add these -->
                            </div>
                        </address>
                    </div>
                    <div class="footer-locations">
                        <div class="footer-location">
                            <h2 class="light"><a href="/locations/144">Flatland 144</a></h2>
                            <p>Sunday &mdash; 9:30am</p>
                            <p>Sunday &mdash; 11:00am</p>
                        </div>
                        <div class="footer-location">
                            <h2 class="light"><a href="/locations/174">Flatland 174</a></h2>
                            <p>Sunday &mdash; 11:00am</p>
                        </div>
                    </div>
                    <div class="footer-legal">
                        <div class="footer-legal-nav">
                            <nav>
                                <a href="/contact">Contact</a>
                                <a href="/privacy">Privacy Policy</a>
                                <a href="/cookies">Cookies</a>
                            </nav>
                        </div>
                        <div class="footer-legal-info">
                            <span>&copy; Flatland Group <%= new Date().getFullYear() %></span>
                            <span>|</span>
                            <span>All Rights Reserved</span>
                            <span>|</span>
                            <span><a href="/licenses#software">Software Licenses</a></span>
                            <span>|</span>
                            <span>Registered Non-Profit 501(c)3 (EIN: 00-4277592)</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            staticNavigator();
        </script>
    </body>
</html>
