:root {
    --neutral__700: #0A090A;
    --neutral__600: #46444C;
    --neutral__500: #6B6D6D;
    --neutral__400: #999B9B;
    --neutral__300: #7D7B87;
    --neutral__200: #DFE0EB;
    --neutral__100: #F8F9FC;
    --neutral__050: #FFFFFF;

    --blue__100: #98E2FF;
    --blue__200: #48B9F4;
    --blue__300: #2270ee;
    --blue__400: #0025A0;
    --blue__500: #080052;

    --brand__green: #ACC35B;
    --brand__blue: #2270ee;
    --brand_orange: #ff8c32;

    --accent__yellow: #ffc902;
    --accent__red: #e63717;
    --accent__green: #18a761;

    --text__link: var(--blue__300);
}
